%div{ class: "topbar"}
  %div{ class: "link"}
    = link_to 'Back', hospital_patient_path(@hospital, @patient), :class=>"back"
  %h1 Med List
- @meds.each do |med|
  %div
    = med.name
    = med.direction
    = link_to 'Edit', edit_hospital_patient_med_path(@hospital, @patient, med)
    = link_to 'Destroy', hospital_patient_med_path(@hospital, @patient, med), method: :delete
%div
  = link_to "Add Med", new_hospital_patient_med_path
