%div{ class: "topbar"}
  %h1 Med List
= form_tag hospital_patient_meds_path, method: :get, class: "form-search", role: "search" do
  .input-group
    =text_field_tag 'search', params[:search], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %span.glyphicon.glyphicon-search  
- @meds.each do |med|
  %div
    = med.name
    = med.direction
    = link_to 'Edit', edit_hospital_patient_med_path(@hospital, @patient, med)
    = link_to 'Destroy', hospital_patient_med_path(@hospital, @patient, med), method: :delete
%div
  = link_to "Add Med", new_hospital_patient_med_path
