<h1>Show Medication</h1>

<% @meds.each do |med| %>
      <div><%= med.name %> <%= med.direction %>
      <%= link_to 'Show', hospital_patient_med_path(@hospital, @patient, med) %>
      <%= link_to 'Edit', edit_hospital_patient_med_path(@hospital, @patient, med) %>
      <%= link_to 'Destroy', hospital_patient_med_path(@hospital, @patient, med), method: :delete%></div>
<% end %>
<%= link_to 'Back', hospital_patients_path %>|
