<%= link_to 'Back', hospitals_path %>
<h2>Patients</h2>
<% @patients.each do |patient| %>
<div>hospital_id: 
<%= patient.hospital_id %> ||
<%= patient.firstname %>
<%= patient.lastname %>
<%= patient.dob %>
<%= patient.symptoms %>
<%= patient.gender %>
<%= patient.bloodtype %>
<%= link_to 'Show Meds', hospital_patient_path(@hospital, patient) %>
<%= link_to 'Edit', edit_hospital_patient_path(@hospital, patient) %>
<%= link_to 'Destroy', hospital_patient_path(@hospital, patient), method: :delete %>
</div>
<% end %>