%div{ class: "topbar"}
  %h1 Patient
%h4    
  %div 
    firstname: #{@patient.firstname}
    %br
    lastname: #{@patient.lastname}
    %br
    dob: #{@patient.dob}
    %br
    symptoms: #{@patient.symptoms}
    %br
    gender: #{@patient.gender}
    %br
    bloodtype: #{@patient.bloodtype}
    %br
%h3 Meds
- @meds.each do |med|
  %div
    = med.name
    = med.direction
    = link_to 'Show', hospital_patient_meds_path(@hospital, @patient, med)
%div
  = link_to "Add Med", new_hospital_patient_med_path(@hospital, @patient, @med)
%h2 Create Doctor
%div{ class: "doctor"}
  =form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
    = f.label :name
    = f.text_field :name
    = f.submit
    %br
  - @patient.doctors.each do |doctor|
    = doctor.name
    = link_to 'Destroy', delete_doctor_hospital_path(doctor), method: :delete
    %br/