<%= link_to 'Back', hospitals_path %>|
<%= link_to 'Edit', edit_hospital_path(@hospital) %>
<h4>firstname: <%= @patient.firstname %></h4>
<h4>lastname: <%= @patient.lastname %></h4>
<%= link_to 'show meds', hospital_patient_meds_path(@hospital, @patient) %>