= link_to 'Back', hospital_patients_path
|
\#{link_to 'Edit', edit_hospital_patient_path(@hospital, @patient)}
%h4    
  %div firstname: #{@patient.firstname}
  %div lastname: #{@patient.lastname}
  %div dob: #{@patient.dob}
  %div symptoms: #{@patient.symptoms}
  %div gender: #{@patient.gender}
  %div bloodtype: #{@patient.bloodtype}
%h3 Meds
- @meds.each do |med|
  %div
    = med.name
    = med.direction
    = link_to 'Show', hospital_patient_meds_path(@hospital, @patient, med)
%div
  = link_to "Add Med", new_hospital_patient_med_path(@hospital, @patient, @med)
%h2 Create Doctor
=form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.submit
  %br
- @patient.doctors.each do |doctor|
  = doctor.name
  = link_to 'Destroy', delete_doctor_hospital_path(doctor), method: :delete