<%= link_to 'Back', hospitals_path %>|
<h1>Show Patient</h1>
<%= @patient.firstname %>
<%= @patient.lastname %>
<%= @patient.dob %>
<%= @patient.symptoms %>
<%= @patient.gender %>
<%= @patient.bloodtype %>
<div><strong>Meds List:</strong></div>
<%= link_to "Add Medication", new_hospital_patient_med_path(@hospital, @patient) %> 
<% @meds.each do |med| %>
      <div><%= med.name %> <%= med.direction %>
      <%= link_to 'Show', hospital_patient_med_path(@hospital, @patient, med) %></div>
      <%= link_to 'Edit', edit_hospital_patient_med_path(@hospital, @patient, med) %>
<% end %>
  