<h1>Hospitals</h1>
<div>
<%= link_to 'back', root_path %>
</div>
<% @hospitals.each do |hospital| %>
    <%= hospital.name %>
    <%= hospital.location %>
    <%= link_to 'Show', hospital_path(hospital) %>
    <%= link_to 'Edit', edit_hospital_path(hospital) %>
    <%= link_to 'Destroy', hospital_path(hospital), method: :delete%>
    <br>
<% end %>

<br>

<%= link_to 'New hospital', new_hospital_path %>