%div{ class: "topbar"}
  %h1 hospitals
%div{class: "info"}
  - @hospitals.each do |hospital|
    = hospital.name
    = hospital.location
    = link_to 'Show', hospital_path(hospital), class: "back"
    = link_to 'Edit', edit_hospital_path(hospital), class: "back"
    = link_to 'Destroy', hospital_path(hospital), method: :delete, class: "back"
    %br
%div
    
