%div{ class: "topbar"}
  %div{ class: "link"}
    = link_to 'back', root_path, :class=>"back"
  %h1 Hospitals
%div
  - @hospitals.each do |hospital|
    = hospital.name
    = hospital.location
    = link_to 'Show', hospital_path(hospital)
    = link_to 'Edit', edit_hospital_path(hospital)
    = link_to 'Destroy', hospital_path(hospital), method: :delete
    %br
%div
  = link_to 'New hospital', new_hospital_path