<%= link_to 'Back', hospitals_path %>|
<%= link_to 'Edit', edit_hospital_path(@hospital) %>
<h4>Name: <%= @hospital.name %></h4>
<h4>Location: <%= @hospital.location %></h4>
<%= link_to 'show patients', hospital_patients_path(@hospital) %>