%div{ class: "topbar"}
  %h1 Hospital

%h4
  Name: #{@hospital.name}
%h4
  Location: #{@hospital.location}
%br/
%h3 This Hospitals Patients
- @patients.each do |patient|
  .btn.btn-default
    = link_to hospital_patient_path(@hospital, patient) do
      = patient.lastname
      ,
      = patient.firstname
  %br/
%div
  = link_to "Add Patient", new_hospital_patient_path(@hospital, @patient)
%br
%h2 Create Doctor
%div{ class: "doctor"}
  =form_for @doctor, url: create_doctor_hospital_path(@hospital) do |f|
    = f.label :name
    = f.text_field :name
    = f.submit
    %br
  - @hospital.doctors.each do |doctor|
    = doctor.name
    = link_to 'Destroy', delete_doctor_hospital_path(doctor), method: :delete
    %br