!!!
%html
  %head
    %title Day13
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top{:role => "navigation"}
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar 
          %span.icon-bar
      .nav-collapse.collapse
        = render 'layouts/navbar'
    .container-sidebar
      .row
        .col-sm-3.sidebar-style
          = render 'layouts/sidebar'
      .container
        .row
          .body-content-style
            - if flash[:notice]
              %h5#notice= flash[:notice]
            - if flash[:error]
              %h5#error= flash[:error]
            = yield